<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}

<div class="page-header">
    <h2> {{ current_user.username }} Profile's </h2></br> 
</div>
<div align="left">
<p> Email: {{ current_user.email }} </p></br>
{% if user_profile %}
        <p>Website: <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></p>
        <br/>
    {% if user_profile.picture %}
        <img src="{{ user_profile.picture.url }}" {{ user_profile.picture.url }} alt="profile picture" />
    {% endif %}
{% endif %}
<div>

    <p><a href="/rango/add_profile"> Edit Profile</a></p></br>
    </div>    
{% endblock %}